DB_HOST=
DB_NAME=
DB_USER=
DB_PASS=
DISCORD_TOKEN=
DISCORD_SERVER_ID=
DISCORD_CHANNEL_ACCESS_ID=
DISCORD_CHANNEL_RANKINGS_ID=
DISCORD_CHANNEL_LOGGING_ID=
DISCORD_DOWNLOAD_URL=
DISCORD_GM_ROLE=
DISCORD_GM_INTERN_ROLE=
ACCESS_REQUIRED_ROLE=
REDIS_HOST=
REDIS_PORT=
REDIS_PASS=
SERVER_HOST=
SERVER_PORT=
SERVER_WORLD=
SERVER_LOGIN=
SERVER_GAME=
SERVER_SHOP=
